/build
/src/main/login/includes
/.gradle
/build.gradle
/src/main/resources/spring-datasource.xml
/tmp
/*.class
/src/main/login/includes/consumer_keys.php
/src/main/php/includes/keys.php
/src/main/python/word2vec-model
/src/main/webapp/WEB-INF/spring-core-config.xml
/src/main/python/input
/src/main/python/output
*.log
*.csv
