<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="subscriptionDAO" class="com.universities.dao.impl.SubscriptionDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="wordCloudDAO" class="com.universities.dao.impl.WordCloudDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="barPlotDAO" class="com.universities.dao.impl.BarPlotDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="stressStateDao" class="com.universities.dao.impl.StressStateDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="timeVisDao" class="com.universities.dao.impl.TimeVisDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	
	
</beans>